<style type="text/css">
    .error-template {padding: 40px 15px;text-align: center;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }
</style>
<!DOCTYPE html>
<html>
<head>
    <title>404 Page not found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>Sorry What? 404 Not Found.</h2>
                <div class="error-details">
                    <img src="http://i63.tinypic.com/2mecnlt.jpg">
                </div>
            </div>
        </div>
    </div>
</body>
</html>