<%- include('includes/header') %>

<nav class="navbar navbar-inverse">

	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Lunchy App</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="cup-mnl-l130:9000">Login</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">

	<div class="starter-template">
		<h1>Welcome User</h1>
		<p class="lead">Let's get lunchy. Choose from our menus.</p>

		<div class="row">
			<%- include('menus_confirm') %>
		</div>

	</div>



</div><!-- /.container -->

<%- include('includes/footer') %>