<%- include('includes/header') %>

    <div class="container">

<form method="get" action="/users/reserve">
                            <label class="list-group-item">
                                Baka
                                <input type="radio" name="options" id="option1" autocomplete="off" class="pull-right" value="Baka" />
                            </label>
                            <label class="list-group-item">
                                Manok
                                <input type="radio" name="optionsf" id="option2" autocomplete="off" class="pull-right"/>
                            </label>
                            <label class="list-group-item">
                                Patis
                                <input type="radio" name="options" id="option3" autocomplete="off" class="pull-right"/>
                            </label>
                            <label class="list-group-item">
                                Asin
                                <input type="radio" name="options" id="option3" autocomplete="off" class="pull-right"/>
                            </label>
                            <label class="list-group-item">
                                Menudo
                                <input type="radio" name="options" id="option3" autocomplete="off" class="pull-right"/>
                            </label>
                            <div class="panel-footer text-right">
                                 <button type="submit" class="btn btn-default">Reserve Now</button>
                            </div>
                        </form>

    </div><!-- /.container -->

<%- include('includes/footer') %>