<!DOCTYPE html>
<html>
<body>

<br>Your Order is:
<%= options %>

<form method="get" action="/users/reserve">
                            <div class="panel-footer text-right">
                                 <button type="submit" class="btn btn-default">Confirm</button>
                            </div>
                        </form>
</body>
</html>