<%- include('includes/header') %>

<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Lunchy App</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="cup-mnl-l130:9000">Login</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>


<div class="jumbotron">
  <h1 class="display-3">Thank you!</h1>
  <p class="lead">Your meal has been reserved.</p>
  <hr class="my-4">
  <p>You may get your meal at the 3rd floor cafeteria. We are open from 11am to 4pm.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">back to menu</a>
  </p>
</div>


<%- include('includes/footer') %>